@page
@model Blossom.Pages.Admin.ManageCategory.CreateCategory.IndexModel
@{
    ViewData["Title"] = "Create Category";
}
<div class="col-md-9 dashboard-function">
    <div class="container mt-5">
        
        <form method="post" class="p-4 border rounded shadow-sm mx-auto" style="max-width: 500px;">
            <h1>Create New Category</h1>
            <!-- Category Name -->
            <div class="form-group">
                <label for="Name">Category Name</label>
                <input type="text" class="form-control" id="Name" name="Name" required />
            </div>

            <!-- Category Image URL -->
            <div class="form-group mt-3">
                <label for="ImageUrl">Category Image URL</label>
                <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" required />
            </div>

            <!-- Submit and Cancel Buttons -->
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Create Category</button>
                <a href="@Url.Page("/Admin/ManageCategory/Index")" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </form>
    </div>
</div>



