@page
@model Blossom.Pages.Admin.ManageCategory.EditCategory.IndexModel
@{
    ViewData["Title"] = "Edit Category";
}

<div class="container mt-5">

    <form method="post" class="p-4 border rounded shadow-sm mx-auto" style="max-width: 500px;">
        <h1>Edit Category</h1>

        <input type="hidden" value="@Model.Category.Id" asp-for="CategoryId" />

        <!-- Category Name -->
        <div class="form-group">
            <label for="Name">Category Name</label>
            <input type="text" class="form-control" id="Name" name="Category.Name" value="@Model.Category.Name" required />
        </div>

        <!-- Category Image URL -->
        <div class="form-group mt-3">
            <label for="ImageUrl">Category Image URL</label>
            <input type="text" class="form-control" id="ImageUrl" name="Category.ImageUrl" value="@Model.Category.ImageUrl" required />
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Update Category</button>
            <a href="@Url.Page("/Admin/ManageCategory/Index")" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </form>
</div>

