@page
@model Blossom.Pages.Admin.ManageFlower.IndexModel
@{
}

<div>
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar: First column, takes up 3/12 (or 25% of the width) -->
            <div class="col-md-2 sidebar">
                <div class="row mt-4">
                    <div class="col-12 tab-item">
                        <a href="@Url.Page("/Admin/ManageCategory/Index")" class="btn btn-primary mb-3 w-100">Manage Category</a>
                    </div>
                    <div class="col-12 tab-item">
                        <a href="@Url.Page("/Admin/ManageFlower/Index")" class="btn btn-primary mb-3 w-100">Manage Flower</a>
                    </div>
                </div>
            </div>

            <!-- Main Content: Second column, takes up 9/12 (or 75% of the width) -->
            <div class="col-md-10 dashboard-function">
                <div class="container">
                    <h5>Manage Flower</h5>

                 
                </div>
            </div>
        </div>
    </div>

</div>